/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
h1 {
  background-color: tomato;
  color: white;
}

.ecom-product h1 {
  background-color: blue;
  color: white;
}
