<h1>Hello World!</h1>

<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'Admin'">
    <ecom-product></ecom-product>
  </div>
  <div *ngSwitchCase="'User'">
    <h1>Welcome to ecom Applications</h1>
  </div>
  <div *ngSwitchDefault>
    You don't have access to the application!
  </div>
</div> -->

<!-- <ecom-comment></ecom-comment> -->
<!--
<ecom-container>
  <h1>This is a container component</h1>
  <ecom-product></ecom-product>
  <ecom-order></ecom-order>
  <ecom-order></ecom-order>
  <ecom-order></ecom-order>
  <ecom-order></ecom-order>
</ecom-container> -->

<ecom-comment></ecom-comment>
<ecom-product></ecom-product>
<ecom-order></ecom-order>
