<!-- interpolation -->
<h1>{{ title }}</h1>

<!-- property biding -->
<div [style.color]="'red'" [innerText]="productName" [hidden]="visible"></div>

<!-- event binding -->
<button (click)="toggle()">Toggle</button>

<button (click)="loadProduct()">Load product</button>
<button (click)="addProduct()">Add product</button>

<button (click)="toggleTable()">Toggle Table</button>

<pre>
  {{ selectedProduct | json }}
</pre>

<!-- <pre>{{products | json}}</pre> -->
<ecom-product-list
  [title]="header"
  [products]="productList"
  (selectProduct)="deleteProduct($event)"
></ecom-product-list>
